.footer {
    background-color: #00673a; /* BCG Green */
    color: #ffffff; /* White text for contrast */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-logo {
    height: 30px;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}
