.header {
    background-color: #00673a; /* BCG Green */
    color: #ffffff; /* White text for contrast */
    padding: 20px;
    text-align: center;
}

.header-title {
    font-size: 2rem;
    margin: 0;
}

.header-logo {
    height: 50px;
    margin-bottom: 10px;
}
