:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f8f8f8;
    --primary-text-color: #000000;
    --primary-accent-color: #006341;
}

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.main-layout__content-container {
    display: flex;
    flex: 1;
}

.main-layout__main-content {
    flex: 1;
    padding: 20px;
    background-color: var(--secondary-bg-color);
}

.header, .footer, .sidebar {
    background-color: var(--primary-accent-color);
    color: var(--primary-bg-color);
}

.header, .footer {
    padding: 10px;
}

.main-layout__main {
    padding: 20px;
}

.footer {
    margin-top: auto;
}

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
