.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-area {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-image: url('/assets/images/illustrations/investment image.jpeg'); 
    background-size: cover;
    background-position: center;
}
