.sidebar {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    width: 250px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #00673a; /* BCG Green for icons */
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #000000; /* Black text */
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}

.sidebar-link:hover {
    background-color: #00673a; /* BCG Green */
    color: #ffffff; /* White text on hover */
}
